@import url('reset.css')
*, 
*::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
p {
	margin: 0;
	padding: 0;
	line-height: 1.556;
}
a {
	color: #f5112c;
	text-decoration: none;
	padding-bottom: 2px;
	border-bottom: 1px solid #fa8895;
}

a:hover {
	border-bottom: none;
}



.clearfix, .clearfix::after,
.clearfix::before {
	content: ' ';
	display: table;
	clear: both;
}
.accent-elem {
	color: #f5112c;
}
body {
	font-size: 18px;
	font-family: 'Gilroy';
	font-weight: 300;
	font-style: normal;
	color: #141414;
	margin: 0 auto;
	overflow-x: hidden;
	max-width: 1920px;
}
img {
	width: 100%;
}
.container {
	position: relative;
}
.site-header {
	position: relative;
}
.site-header__bg {
	font-size: 20em;
	letter-spacing: 16px;
	font-weight: 900;
	color: rgba(0,0,0,0.1);
	position: absolute;
	left: 0;
	top: 16%;
	width: 100%;
	line-height: .8;
	white-space: nowrap;
	text-align: center;
}
.bagel {
	display: inline-block;
	height: 85px;
	width: 85px;
	border: 15px solid #2429ff;
	border-radius: 50%;
}
.circle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #2429ff;
	position: absolute;
	right: 5%;
	top: 20%;
}
.site-header .bagel {
	position: absolute;
	top: 39%;
	left: -85px;
}
.site-header {
	padding: 32px 0 150px 0;
}
.site-header .container {
	position: relative;
}
.top-line {
	margin-bottom: 42px;
}
.top-line .row {
	-ms-align-items: baseline;
	align-items: baseline;
}

.logo {
	font-family: "Museo Sans Cyrl 900";
	font-weight: bold;
	text-transform: uppercase;
	font-size: 2.66666666667em;
	line-height: 0.9;
	color: #e4002b;
	text-decoration: none;
}
.logo__dot {
	color: #000;
}

.contact-info {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	flex-wrap: wrap;
	font-weight: 300;
	vertical-items: baseline;
}

.contact-info__call-ring {
	text-decoration: none;
	border-bottom: 1px solid #f5112c;
	color: #f5112c;
	margin: 0 15px;
}
.contact-info__address {
	padding: 0 15px;
}
.contact-info__phone-number {
	padding: 0 15px;
}
.contact-info__call-ring:hover {
	border-bottom-color: transparent;
}
.header-content-wrapper {
	align-items: flex-end;
}
.header-content {
	padding-left: 53px;
	margin-bottom: 100px;
	position: relative;

}
.section-title {
	font-family: 'Gilroy';
	font-size: 2.5rem;
	font-weight: 900;
	line-height: 1.2;
	text-transform: uppercase;
	position: relative;
	margin: 0;
	padding: 0;
	letter-spacing: 1.5px;
	position: relative;
}
.section-title_widther {
	letter-spacing: 3px;
}
.section-title_bottom-sep::after {
	content: "";
	display: block;
	height: 7px;
	width: 62px;
	background-color: #f5112c;
	margin: 25px 0 18px 0;
}
.section-title_small {
	font-size: 0.75555555555em;
	line-height: 1.4;
	letter-spacing: 2px;
}
.header-content__header-descr {
	margin-bottom: 100px;
	color: #000;
}
.primary-button {
	display: inline-block;
	color: #fff;
	padding: 24px 47px;
	border-radius: 35px;
	font-weight: 900;
	background-color: #f5112c;
	-webkit-box-shadow: 0px 10px 26px -5px #f5112c;
	box-shadow: 0px 10px 26px -5px #f5112c;
}
.primary-button:hover {
	background-color: #f63f54;
}
.primary-button:active,
.primaru-button:focus {
	background-color: #d50d25;
}

.wave{
	display: inline-block;
	width: 145px;
	height: 19px;
	background: url(../img/wave-img.png) no-repeat center center;
}

.header-content .wave {
	position: absolute;
	right: 20px	;
	bottom: 25%;
}
.problem-situations-section {
	padding-bottom: 200px;
}
.problem-situations-section .section-title::after {
	content: '?';
	position: absolute;
	right: -80px;
	top: -.15em;
	font-size: 6.66666666667em;
	line-height: 0.75;
	color: rgba(0,0,0,0.2);
}
.problem-situation {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row-reverse;
	-moz-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	-o-flex-direction: row-reverse;
	flex-direction: row-reverse;
	text-align: right;
	-ms-align-items: flex-start;
	align-items: center;
}
.problem-situation:first-child {
	margin-bottom: 80px;
}
.problem-situation:nth-child(3) {
	margin-top: -60px;
}
.problem-situation:nth-child(2n) {
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
}
.problem-situation__img {
	display: inline-block;
	margin: 0;
	padding: 0;
	position: relative;
}

.problem-situation__img .wave {
	position: absolute;
	bottom: 20%;
	left: -26%;
}
.problem-situation__img .circle {
	position: absolute;
	left: 266px;
	top: -117%;
	z-index: 1;
} 

.problem-situation:nth-child(2n) .problem-situation__img {float: left;}

.problem-situation__descr {
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: left;
	line-height: 1.6;
}

.problem-situation__descr_first  {
	padding-left: 15px;
	margin-bottom: 55px;
}
.problem-situation__descr_second {
	margin-bottom: 85px;
	margin-left: -15px;
}

.problem-situation__descr_third {
	padding-left: 27px;
	margin-bottom: 40px;
}
.problem-situation__descr_fourth {
	padding-left: 12px;
	display: block;
	max-width: 280px;
	margin-top: 55px;
}

.problem-situation__num-of-situation {
	display: inline-block;
	font-size: 48px;
	position: absolute;
	top: 13%;
	left: -29px;
	font-weight: 900;
	letter-spacing: 1px;
}
.problem-situation:nth-child(2n) .problem-situation__num-of-situation {
	right: -39px;
}

.problem-situation:nth-child(2n) .problem-situation__img::after {
		content: "";
		position: absolute;
		top: -340px;
		left: 275px;
		display: inline-block;
		height: 340px;
		width: 2px;
		background-color: #e9e9e9;
}
/*Линия соединяющая фотографии сдева*/
.problem-situation:last-child .problem-situation__img::after {
	height: 456px;
	top: -456px;
}
.problem-situation:last-child .problem-situation__num-of-situation {
	right: -178px;
}


.problem-situation__num-of-situation_second {
	 top: 7%;
}
.problem-situation__num-of-situation_third {
	top: 26%;
}
.problem-situation__num-of-situation_last {
	top: 22%;
}


/*PROVIDED SITUATIONS SECTIONS*/

.provided-situations-section {
	padding: 200px 0 150px 0;
	position: relative;
}
.provided-situations-section__bg {
	position: absolute;
	right: 0;
	top: -25%;
}
.provided-situations-section .wave {
	position: absolute;
	bottom: 0%;
	right: 27%;
}
.provided-situations-container {
	margin: 100px 0 30px 0;
}
.provided-situation {
	margin-left: 22px;
}

.provided-situation_num_first {
	max-width: 220px;
}
.provided-situation_num_second {
	max-width: 212px;
}
.provided-situation_num_third {
	max-width: 177px;
}
.provided-situation__title {
	font-weight: 900;
	margin-bottom: 9px;
}
.provided-situation__descr {
	line-height: 1.55;
}


/*OUR TEACHER---------------------- */

.our-teachers-section {
	padding: 100px 0 75px 0;
}

.teachers-container {
	margin-top: 50px;
}
.teacher-card img {
	width: 100%;
	height: auto;
}

.teacher-card__name {
	font-weight: 900;
	margin-top: 18px;
	margin-bottom: 8px;
}
.teacher-card__descr {
	font-size: 0.77777777777em;
	color: #000;
	line-height: 1.5;
	letter-spacing: .43px;
}

.price-section {
	position: relative;
	padding: 140px 0 100px 0;
	margin-bottom: 140px;
}
.price-section__bg {
	display: inline-block;
	width: 745px;
	height: 1078px;
	position: absolute;
	bottom: 0;
	left: 0px;
	background: url(../img/price-section-bg.png) no-repeat center center;
	-webkit-background-size: contain;
	background-size: contain;
}
.price-section__short-descr {
	padding: 0;
	margin: 0;
}

.price-section__price {
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 45px;
}

.weekly-schedule {
	margin-top: 40px;
}
.weekly-schedule__title {
	font-weight: 900;
	margin-bottom: 20px;
}

.work-process-section {
	padding: 60px 0 100px 0;
	background: url(../img/work-process-section-bg.png) no-repeat center center;
	background-size: cover;
}

.work-process-item {
	margin-bottom: 80px;
	position: relative;
	background-position: 25% 27%;
	background-repeat: no-repeat;
}
.work-process-item_first-line {
	background-image: url(../img/work-process-item-bg-1.png);
}
.work-process-item_second-line {
	background-image: url(../img/work-process-item-bg-2.png);
	background-position: 92% 27%;
	padding-top: 40px;
}
.work-process-item_third-line {
	background-image: url(../img/work-process-item-bg-3.png);
	background-position: 0 27%;
}
.work-process-item_fourth-line {
	background-image: url(../img/work-process-item-bg-4.png);
	background-position: 79% 23%;
}
.work-process-item_second-line .work-process-item__img::before {
	content: "";
	position: absolute;
	top: -20%;
	left: 12%;
	width: 24px;
	height: 24px;
	display: inline-block;
	background-color: blue;
	border-radius: 50%;
}
.work-process-item_fourth-line .work-process-item__img::before {
	content: "";
	position: absolute;
	width: 85px;
	height: 85px;
	display: inline-block;
	border: 15px solid blue;
	border-radius: 50%;
	right: -27px;
  top: -39px;
}
.work-process-item_first-line .triple-wave {
	display: inline-block;
	position: absolute;
	right: -60px;
	top: 10%;
	height: auto;
}
.triple-wave .wave {
	margin-bottom: -8px;
	display: block;
	background-size: 50%;
}
.work-process-item__process-descr {
	padding-left: 40px;
	position: relative;
	z-index: 9999;
}
.work-process-ite

.work-process-item__process-descr::before {
	content: url(../img/right-caret.png);
	position: absolute;
	top: 0;
	left: 0;
}
.work-process-item__process-title {
	font-weight: 900;
	margin-bottom: 20px;
}

.reviews-section {
	padding: 80px 0;
	position: relative;
}
.reviews-section .triple-wave {
	position: absolute;
  top: 13%;
  right: -11%;
}
.reviews-container {
	margin-top: 60px;
	margin-bottom: 80px;
}
.reviews-section .container::before {
	content: url(../img/review-bg-bagel.png);
	position: absolute;
	top: -500px;
	right: -200px;
}
.reviews-item__descr {
	margin-left: 35px;
}
.reviews-item__title {
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: 900;
	margin-bottom: 25px;
}
.reviews-item__social {
	margin-top: 23px;
}

.progress-bar {
	height: 7px;
	width: 100%;
	background-color: #e9e7e8;
	border-radius: 3px;
	position: relative;

}
.progress-bar__slider {
	content: "";
	position: absolute;
	display: inline-block;
	border-radius: 3px;
	width: 228px;
	height: 7px;
	background-color: #f5112c;
	-webkit-box-shadow: 0 4px 14px #f5112c;
	box-shadow: 0 4px 14px #f5112c;
	top: 0;
	-webkit-transition: ease .3s;
	-o-transition: ease .3s;
	transition: ease .3s;
	left: 0;
}








